*,
*:before,
*:after{
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;
    font-family:"Italic";
    font-size: 30px;
}
body{
    background-color:lightblue;
}
.wrapper{
   
    width: 551px;
    background-color: oldlace;
    padding: 8px 40px;
    position: absolute;
    top: 34px;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 51%;
    box-shadow: 0 10px 15px rgb(15 107 198 / 25%);
    border-radius: 2px;
    border: 2px solid rgb(7, 34, 45);
    display: flex;
    justify-content: space-between;
}
}
.container{
    width: 50%;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgb(32, 28, 20);
    outline:none;
    margin-top: 8px;
    padding: 0 10px;
}
input:focus{
    border-color: black;
}
